head (
  font-size: 12;
  color: blue;
  font-type: italic;
  )
  h1 {
    color: blue;
    text-align: center;
  }
  h2 {
    color: green;
    font-style: italic;
    text-align: center;
  }
  p {
    font-family: sans-serif;
  }
  ul {
    line-height: 40px;
    color: green;
)
   .myDiv {
     background-color: lightblue;
     text-align: left;
   }
